body {
  background-color: #eaf6f6;
}
hr {
  border-style: dotted none none;
  border-width: 8px;
  width: 6%;
}
a {
  color: navy;
}
a:visited {
  color: #393e46;
}
a:hover {
  color: #66bfbf;
}
a:active {
  color: blue;
}
h1 {
  color: darkblue;
}
h2 {
  color: darkblue;
}
h3 {
  color: darkblue;
}
